body {
  background-color: #000;
  color: #33ff99;
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 0 0 5px #33ff99;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game-container {
  max-width: 700px;
  background-color: #111;
  border: 1px solid #33ff99;
  padding: 30px;
  box-shadow: 0 0 20px #33ff99;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-family: inherit;
  background: transparent;
  border: 1px solid #33ff99;
  color: #33ff99;
  cursor: pointer;
}

button:hover {
  background-color: #33ff99;
  color: #000;
}
